<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.filipfloreani.zusk">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="xyz.filipfloreani.zusk.ZuskApplication">

        <activity android:name="xyz.filipfloreani.zusk.newslist.NewsListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="xyz.filipfloreani.zusk.article.ArticleDetailsActivity"
            android:label="@string/article"
            android:parentActivityName="xyz.filipfloreani.zusk.newslist.NewsListActivity"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5aabcd5a8c1a128cddcd24454e5db710f96a1135" />
    </application>

</manifest>